/* 
 * generalne style - START 
 */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', 'Sans-serif';
    color: #291f1a;
    margin: 0;
}

h2 {
    text-align: center;
}

a {
    transition: all .3s;
}

span.green {
    color: #1ac056;
    font-weight: 400;
}

section {
    padding: 30px 80px;
}

/* tworzenie 2 kolumn */
.col-1-2 {
    width: 50%;
    float: left;
    
}

/*
 * genarlne style - STOP
 */


/*
 * Main nav style - START
 */

#main-nav {
    background-color: #fff;
    position: fixed;
    z-index: 10;
    width: 100%;
}

#main-nav ul {
    margin: 0;
    text-align: right;
}

#main-nav ul li {
    display: inline-block;
    padding: 25px;
}

#main-nav ul li a {
    text-decoration: none;
    color: #1ac056;
    font-weight: 300;
    text-transform: lowercase;
}

#main-nav ul li a:hover {
    color: #291f1a;
}


/*
 * Main nav style - STOP
 */


/*
 * main header styles - START
 */

#main-header {
    background-image: url(header-background.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
    position: relative;
}

#main-header .header-caption {
    color: #fff;
    font-family: sans-serif, 'Roboto';
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#main-header .header-caption h1 {
    font-size: 4em;
    font-weight: 300;
}

#main-header .header-caption h2 {
    font-size: 2em;
    font-weight: 300;
}


/*
 * main header styles - STOP
 */

/* about me - start */

#about {
    background-color: #f9fcfe;
    overflow: hidden;   
    box-shadow: 0px 2px 16px -1px rgba(0,0,0,0.75);
}

#about figure {
    margin: 0;
    text-align: center;
}

#about figure img {
    max-width: 100%;
    max-height: 350px;
    border: 10px solid #fff;
    border-radius: 10px;   
}

#about div p {
    font-weight: 300;
    line-height: 24px;
}

/* about me - stop */


/*
#skill p {
    font-weight: 300;
    line-height: 24px;
    text-align: center; 
}

figure {
    display: inline-block;
    text-align: center;
    font-size: 1em;
}
#foto {
    text-align: center;
}

*/

#skills > p {
    text-align: center;
}

#skills div#skills-icons {
    text-align: center;
}

#skills #skills-icons figure {
    display: inline-block;
}

/* section portfolio styles */

#portfolio #portfolio-item-1 {
    background-image: url(portfolio1.jpg);
}

#portfolio #portfolio-item-2 {
    background-image: url(portfolio2.jpg);
}

#portfolio #portfolio-item-3 {
    background-image: url(portfolio3.jpg);
}






















