/* 
 * generalne style - START 
 */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', 'Sans-serif';
    color: #291f1a;
    margin: 0;
    background-color: aquamarine /* roboczy */;
}

#menu-nav {
    background-color: #fff;
}

#menu-nav ul {
    margin: 0;
}


/*#menu-nav .menu-item {
  padding: 25px;
  list-style: none;
  display: inline-block;
}
#menu-nav .menu-item a {
    text-decoration: none;
    color: #1ac056;
    
}
#menu-nav ul {
    margin: 0;
}*/